b*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #97D2FB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

section{
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 20px;
    color: #000;
    border-radius: 30px;
    padding: 30px;
}

div{
    text-align: center;
    margin: 20px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
    margin: 15px;
}